@using Microsoft.AspNet.Identity;
@using SistemaRentabilidad.Controllers
<!DOCTYPE html>

<html>
<head>


    @Styles.Render("~/Styles/css")

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        @Scripts.Render("~/bundles/modernizr")

    <style>
        .table-bordered{border:1.5px!important;}
         center {
             display: none !important;
         }

        #loadOverlay {
            display: none;
        }
        /* Sticky footer styles
        -------------------------------------------------- */
        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
        }

        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by it's height */
            margin: 0 auto -30px;
        }

        #push,
        #footer {
            height: 30px;
        }

        #footer {
            background-color: transparent;
        }

        @@media screen and (max-width: 767px) {
            .ayuda {
                display: none;
            }
        }
        /* Lastly, apply responsive CSS fixes as necessary */
        @@media (max-width: 767px) {
            #footer {
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .progress.active .progress-bar {
            -webkit-transition: none !important;
            transition: none !important;
        }
    </style>
    </head>

<body class="full" background='@Url.Content("~/Content/Images/fon 1.jpg")'>
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hvr-bounce-in" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" style="left: auto">
                            <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#" id="download">Planillas<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li style="font-weight: bold;">@Html.ActionLink("Listado", "Index", "Worksheets")</li>
                                <li style="font-weight: bold;">@Html.ActionLink("Nueva", "CreateWorksheet", "Worksheets")</li>

                            </ul>
                        </li>
                        <li class="hvr-underline-from-center">@Html.ActionLink("Estadísticas", "Index", "Statistics")</li>
                        <li class="dropdown" style="left: auto">
                            <a class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown" href="#" id="download">Configuración<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li style="font-weight: bold;">@Html.ActionLink("Editar sugerencias", "Index", "SheetLines")</li>
                                <li style="font-weight: bold;">@Html.ActionLink("Cambiar contraseña", "Index", "Manage")</li>

                            </ul>
                        </li>
                        <li class="hvr-underline-from-center">@Html.ActionLink("Contacto", "Contact", "Home")</li>

                        <li class="">
                            @using (Html.BeginForm("FindW", "Worksheets", FormMethod.Post, new { id = "buscarplanilla" }))
                            {
                                <div style="display: inline-flex;margin-top:15px">
                                    <input type="month" class="panel-info form-control inputForm2" onchange="valfechaf()" id="fdate" name="fdate" placeholder="mm/aaaa" style="text-transform: capitalize; height: 31px;width: 200px" />
                                    &nbsp;
                                    <button type="submit" id="buscarf" disabled="true" class="btn btn-info btn-xs disabled"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    @*<input type='submit' value='Buscar' id="buscarf" disabled="true" class="btn btn-info btn-xs disabled" />*@
                                </div>
                            }
                        </li>

                     

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content upBody">

            @RenderBody()

        </div>
        @Scripts.Render("~/js")




        @RenderSection("scripts", required: false)



        <div id="push"></div>

    </div>
    <div id="footer">
        <div class="container">
            <p class="text-center hidden-print">
                - Sistema Rentabilidad &copy; @DateTime.Now.Year - Godesa Solutions ® <a class="hidden-print" style="color: black">@Html.ActionLink("Contacto", "Contact", "Home")</></a> -
            </p>
        </div>
    </div>

</body>



@if (User.Identity.Name == "urdirom-dist@hotmail.com") { 
<div class="navbar-xs navbar-inverse navbar-fixed-top hidden-print" style="background: none; border: none; padding-bottom: 0px">
    <div id="contacthide" class="container text-right" style="width: 150px;height: 20px;margin-right: 0px">
        <p style="margin-top: 60px;">
          <div class="btn btn-info btn-xs" style="border-radius: 3px" data-toggle="modal" data-target="#GSCCModal"><span class="ayuda">Ayuda </span><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div> 
        </p>
    </div>
</div>}
</html>



<script>
  
    function valfechaf() {
        if ($('#fdate').val() == "" | $('#buscarf').val() == null) {
            $('#buscarf').addClass("disabled");
            $("#buscarf").prop("disabled", true);
            $('#buscarf').html('<span class="glyphicon glyphicon-search" aria-hidden="true"></span>');
            $('#buscarf').removeClass("btn-warning");

        };

        var options3 = {};
        options3.url = '@Url.Action("ExistePlanilla", "Worksheets")';
        options3.type = "GET";
        options3.data = { "fecha": $("#fdate").val() };
        options3.dataType = "json";
        options3.success = function (data) {
            if (data) {
                $('#buscarf').html('<span class="glyphicon glyphicon-search" aria-hidden="true"></span>');
                $('#buscarf').removeClass("btn-warning");
                $('#buscarf').removeClass("disabled");
                $("#buscarf").removeAttr("disabled");
            } else {
                $('#buscarf').html("Periodo inexistente.");
                $('#buscarf').addClass("btn-warning");
                $('#buscarf').addClass("disabled");
                $("#buscarf").prop("disabled", true);
            };

        };
        $.ajax(options3);

    }


</script>


