@{
    ViewBag.Title = "Inicio";
}





<div class="text-center jumbotron sombra_externa sombra_fija sombra_radial text-center thStyleGradient2 bordesRedond ">
    <h3><b>¡Bienvenido al Sistema de Rentabilidad!</b>
    </h3>
    <h4>
        <p class="fontMarca">Elgordo.com Distribuciones</p>
        <br/>
        <br/>
        <img src='@Url.Content("~/Content/Images/portadaimg/tregar.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/paty.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/donyeyo.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/piamontesa.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/danica.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/elnoble.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/vanoli.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/pozo.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/emeth.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/logo-Vienissima.png")'>
    </h4>
</div>


<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
            </div>
            <div class="modal-body">
                @Html.Action("HelpHome", "Home")
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<style>
    img {
        border-radius: 183px 183px 183px 183px;
-moz-border-radius: 183px 183px 183px 183px;
-webkit-border-radius: 183px 183px 183px 183px;
border: 2px solid #000000;
        width: 100px;
        height: 100px;
        
        
    }
</style>
