@{
    ViewBag.Title = "Inicio";
}
<div class="text-right" style="margin-top: 8px">
    <a href="@Url.Action("HelpHome", "Home")" class="dialog-window btn btn-info btn-xs">Ayuda&nbsp;<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
</div>

<div class="text-center jumbotron sombra_externa sombra_fija sombra_radial text-center thStyleGradient2 bordesRedond ">
    <h3><b>¡Bienvenido al Sistema de Rentabilidad!</b>
    </h3>
    <h4>
        "Elgordo.com Distribuciones"
        <br/>
        <br/>
        <img src='@Url.Content("~/Content/Images/portadaimg/tregar.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/paty.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/donyeyo.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/piamontesa.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/danica.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/elnoble.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/vanoli.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/pozo.png")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/emeth.jpg")'>
        <img src='@Url.Content("~/Content/Images/portadaimg/logo-Vienissima.png")'>
    </h4>
</div>

<div class="modal fade" id="myModal" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Ayuda</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>

@section scripts{
    <script>
        $("body").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal .te').html(data);
                    $('#myModal').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
    </script>
}


<style>
    img {
        border-radius: 183px 183px 183px 183px;
-moz-border-radius: 183px 183px 183px 183px;
-webkit-border-radius: 183px 183px 183px 183px;
border: 2px solid #000000;
        width: 100px;
        height: 100px;
        
        
    }
</style>
