@model IEnumerable<SistemaRentabilidad.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SheetType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SheetType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTransaction }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTransaction }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTransaction })
        </td>
    </tr>
}

</table>
