
@{
    ViewBag.Title = "Nueva Planilla";
}
<style>
    table .table td{border: #b94a48}
     .tipos{    font-size: medium;
         font-weight: bold;
         font-style: italic}
    .fc{    padding: 3px;height: 31px}
    textarea{resize: none}
     
    #resumentabla td{line-height: 15px}

    #nueva td{line-height: 15px}
    #ingresotabla td{line-height: 15px}
    #encabezadostabla td{line-height: 15px}

    #costotabla td{line-height: 15px}
    #gastotabla td{line-height: 15px}
    #otrotabla td{line-height: 15px}
    #ingresotabla th{line-height: 15px}

    #costotabla th{line-height: 15px}
    #gastotabla th{line-height: 15px}
    #otrotabla th{line-height: 15px}
    #nueva th{line-height: 15px}
    #resumentabla th{line-height: 15px}
    #otrosub th{line-height: 15px}
    #encabezadostabla th{line-height: 15px}
    #totalingresotabla th{line-height: 15px}
    #totalgastotabla th{line-height: 15px}
    #totalcostotabla th{line-height: 15px}
    #totalotrotabla th{line-height: 15px}



    .table {
        margin-bottom: 0px;
    }
</style>

<head>

   
</head>
@*///////////////////////////*@
<hr style="margin-top: 10px;margin-bottom: 10px;" />


<table id="titulotabla" class="table table-condensed table-bordered chica">

    <thead class="tableStyle">


    <tr class="text-center" style="background-color: khaki;">
        <th class="text-center">
            Planilla
        </th>

        <th class="text-center">
            Periodo
        </th>
    </tr>
    </thead>
    <tbody>

    <td class="text-center">
        Creando nuevo documento...
        <span class="text-danger" style="display: block"></span>

    </td>
    <td class="text-center" >
        <input type="date" style="text-align: center; margin-left: 24%;" class="panel-info form-control inputForm fc" id="wdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="dd/mm/aaaa" onchange="valfecha()"/>
        <span class="text-danger" id="spanwdate" style="display: block"></span>

    </td>
    </tbody>

</table>


<legend style="margin-bottom: 2px;background: gainsboro">
    <b>Nueva entrada</b>
</legend>
<table id="nueva" class="table table-condensed table-bordered chica" style="margin-bottom: 10px">
    <thead>
    <tr class="text-center" style="background: gainsboro">
        <th class="text-left" style="width: 40%">
            Descripción
        </th>
        <th class="text-left" style="width: 40%">
            Observación
        </th>

        <th class="text-left">
            Monto
        </th>
        <th class="text-center">
            Tipo
        </th>
    </tr>
    </thead>
    <tbody id="nueva">
    <td class="text-center fina">
        <textarea type="text" rows='1' class="panel-info form-control inputForm fc" id="ndescription" placeholder="" style="max-width: 100%"></textarea>
        <span class="text-danger" style="display: block"></span>
    </td>
    <td class="text-center fina">
        <textarea type="text" rows='1'  class="panel-info form-control inputForm fc" id="ncomment" placeholder="" style="max-width: 100%"></textarea>
        <span class="text-danger" style="display: block"></span>
    </td>
    <td class="fina">
        <input type="number" class="panel-info form-control inputForm fc" style="width: 100px; font-size: smaller;" value="1" id="namount" onkeypress="solonumerosptocoma();"/>
        <span class="text-danger" style="display: block"></span>
    </td>
    <td>
        <div class="btn-group btn-group-justified" data-toggle="buttons" style="display: inline">
            <label class="btn btn-info btn-xs active" value="ing" onclick="acting(this)">
                <input type="radio" name="options" value="ing" onclick="acttipo(this)" autocomplete="off" checked>Ingreso
            </label>
            <label class="btn btn-info btn-xs" value="cos" onclick="actcos(this)">
                <input type="radio" name="options" value="cos" autocomplete="off">Costo
            </label>
            <label class="btn btn-info btn-xs" value="gas" onclick="actgas(this)">
                <input type="radio" name="options" value="gas" autocomplete="off">Gasto
            </label>
            <label class="btn btn-info btn-xs" value="otr" onclick="actotr(this)">
                <input type="radio" name="options" value="otr" autocomplete="off">Otro ing.
            </label>
        </div>
    </td>
    <td class="fina">
        <button type="button" id="addn" class="btn btn-success btn-xs add" value="nueva"/>
        <span class="glyphicon glyphicon-plus"></span>
    </td>
    </tbody>

</table>


<legend class="tipos">
    Ingresos
</legend>

<table id="ingresotabla" class="table table-condensed table-bordered chica">

    <tbody id="ingreso">
        
    </tbody>

</table>
<table id="totalingresotabla" class="table table-condensed table-bordered chica" style="margin-bottom: 10px">
    <thead>
        <tr class="text-center" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">
                
            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" style="background: lightgray" id="toting">
                0.00
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">
                
            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px;margin-bottom: 5px;border-style: dashed" />

<legend class="tipos">
    Costos
</legend>
<table id="costotabla" class="table table-condensed table-bordered chica">

    <tbody id="costo">
    <tr>
    </tr>
    </tbody>

</table>
<table id="totalcostotabla" class="table table-condensed table-bordered chica" style="margin-bottom: 10px">
    <thead>
        <tr class="text-center" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" style="background: lightgray"  id="totcos">
                0.00
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px;margin-bottom: 5px;border-style: dashed" />

<legend class="tipos">
    Gastos
</legend>
<table id="gastotabla" class="table table-condensed table-bordered chica">

    <tbody id="gasto">
        <tr>
        </tr>
    </tbody>

</table>
<table id="totalgastotabla" class="table table-condensed table-bordered chica" style="margin-bottom: 10px">
    <thead>
        <tr class="text-center" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%;border-bottom: hidden; border-top: hidden; border-left: hidden; font-weight: bolder;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" style="background: lightgray"  id="totgas">
                0.00
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px;margin-bottom: 5px;border-style: dashed" />

<legend class="tipos">
    Otros ingresos
</legend>
<table id="otrotabla" class="table table-condensed table-bordered chica">

    <tbody id="otro">
        <tr>
          
        </tr>
    </tbody>
</table>
<table id="totalotrotabla" class="table table-condensed table-bordered chica" style="margin-bottom: 10px">
    <thead>
        <tr class="text-center" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" style="background: lightgray"  id="tototr">
                0.00
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>

<hr style="margin-top: 2px;margin-bottom: 5px;border-style: dashed" />


<div>
    <div id="orderItemsi">
    </div>
    <span class="text-danger" style="display: block"></span>

</div>
<div>
    <div id="orderItemsc">
    </div>
    <span class="text-danger" style="display: block"></span>

</div>
<div>
    <div id="orderItemsg">
    </div>
    <span class="text-danger" style="display: block"></span>

</div>
<div>
    <div id="orderItemso">
    </div>
    <span class="text-danger" style="display: block"></span>

</div>
<legend class="tipos">
    Resumen
</legend>
<table id="resumentabla" class="table table-condensed    table-bordered chica">

    <thead class="tableStyle">
        <tr class="text-center" style="background: gainsboro">
            <td class="text-left" style="border-radius: 3px; font-weight: bold">
                Observaciones
            </td>
            <td class="text-left" style="border-radius: 3px; width: 200px; font-weight: bold">
                Total
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <textarea type="text" rows='1'  class="panel-info form-control inputForm fc" style="max-width: 100%" id="wcomments" placeholder=""></textarea>

            </td>
            <td>
                <input readonly="readonly" type="text" class="panel-info form-control inputForm fc" style="width: 200px; font-weight: bold" value="0.00" id="wtotal" placeholder="" />
                <span class="text-danger" style="display: block"></span>
            </td>
        </tr>

    </tbody>

</table>


<div class="text-center">
    <button type="button" id="submit" class="btn btn-success btn-md" value="Guardar">
        Guardar
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
    <button type="button" id="imprimir" class="btn btn-success btn-md" value="Guardar">
        Guardar e Imprimir
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>

</div>











@section Scripts{





    <script src="@Url.Content("~/Scripts/solonumerosptocoma.js")"></script>



    <script>
        function valfecha() {
            if ($('#wdate').val().trim() == '') {
                $('#wdate').siblings('span.text-danger').html('Requerido');
            } else {
                //$('#wdate').siblings('span.text-danger').html('');
                var options3 = {};
                options3.url = '@Url.Action("ExistePlanilla", "Worksheets")';
                options3.type = "GET";
                options3.data = { "fecha": $("#wdate").val() };
                options3.dataType = "json";
                options3.success = function (data) {
                    if (data) {
                        $('#wdate').siblings('span.text-danger').html('Período existente.');

                    } else {
                        $('#wdate').siblings('span.text-danger').html('');

                    };

                };
                $.ajax(options3);
            }
        }

        function calculogral() {
            tgral = 0;
            $.each(toting, function() { tgral += parseFloat(this) || 0; });
            $.each(tototr, function() { tgral += parseFloat(this) || 0; });
            $.each(totgas, function() { tgral -= parseFloat(this) || 0; });
            $.each(totcos, function() { tgral -= parseFloat(this) || 0; });
            document.getElementById("wtotal").value = tgral.toFixed(2);
        }

        function acting(a) { tipo = "ing"; }

        function actcos(a) { tipo = "cos"; }

        function actgas(a) { tipo = "gas"; }

        function actotr(a) { tipo = "otr"; }

        $(document).ready(function () {
            valfecha();
            $('textarea').each(function() {
                autosize(this);
                this.style.display = '';

                // Call the update method to recalculate the size:
                autosize.update(this);
            });

        
            tipo = "ing";

            var orderItems = [];
            var orderItemsi = [];
            var orderItemsc = [];
            var orderItemsg = [];
            var orderItemso = [];
            toting = [];
            totcos = [];
            totgas = [];
            tototr = [];
            //////////ADD INGRESO///////////////
            ///////////////////////////
            //////////////////////
            //Add button click function

            $('#addn').click(function() {


                var isValidItem = true;

                //Check validation of order item
                if ($('#ndescription').val().trim() == '') {
                    isValidItem = false;
                    $('#ndescription').siblings('span.text-danger').html('Requerido');
                } else {
                    $('#ndescription').siblings('span.text-danger').html('');
                }

                if ($('#namount').val().trim() == '') {
                    isValidItem = false;
                    $('#namount').siblings('span.text-danger').html('Requerido');
                } else {
                    if ($('#namount').val().trim() == 0) {
                        isValidItem = false;
                        $('#namount').siblings('span.text-danger').html('Debe ser mayor a 0');
                    } else {
                        $('#namount').siblings('span.text-danger').html('');
                    }
                }


                if (isValidItem) {


                    var SheetDescription = $('#ndescription').val().trim();
                    var Amount = $('#namount').val().trim();
                    var Comments = $('#ncomment').val().trim();

                    if (tipo == "ing") {
                        var SheetType = 0;
                        orderItemsi.push({
                            SheetDescription: SheetDescription,
                            Amount: Amount,
                            Comments: Comments,
                            SheetType: SheetType
                        });
                        toting.push(
                            parseFloat(Amount)
                        );
                        toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Ingreso:");
                        ingreso();
                    };
                    if (tipo == "cos") {
                        var SheetType = 1;
                        orderItemsc.push({
                            SheetDescription: SheetDescription,
                            Amount: Amount,
                            Comments: Comments,
                            SheetType: SheetType
                        });
                        totcos.push(
                            parseFloat(Amount)
                        );
                        toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Costo:");
                        costo();
                    };
                    if (tipo == "gas") {
                        var SheetType = 2;
                        orderItemsg.push({
                            SheetDescription: SheetDescription,
                            Amount: Amount,
                            Comments: Comments,
                            SheetType: SheetType
                        });
                        totgas.push(
                            parseFloat(Amount)
                        );
                        toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Gasto:");
                        gasto();
                    };
                    if (tipo == "otr") {
                        var SheetType = 3;
                        orderItemso.push({
                            SheetDescription: SheetDescription,
                            Amount: Amount,
                            Comments: Comments,
                            SheetType: SheetType
                        });
                        tototr.push(
                            parseFloat(Amount)
                        );
                        toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Otro ingreso:");
                        otro();
                    };
                    $('#ndescription,#namount,#ncomment').val('');

                }


            });

            //Save button click function
            $('#submit').click(function() {
                //validation of order
                var isAllValid = true;

                orderItems = $.merge(orderItemsi, orderItemsc);
                orderItems = $.merge(orderItems, orderItemsg);
                orderItems = $.merge(orderItems, orderItemso);
                if (orderItems.length == 0) {
                    bootbox.alert({
                        title: "Aviso",
                        message: "Es necesario agregar al menos una línea para guardar la planilla. ",
                        backdrop: true
                    });

                    isAllValid = false;

                }
                if ($('#spanwdate').html() != '') {
                    isAllValid = false;
                }
                //Save if valid
                if (isAllValid) {
                    var data = {
                        Date: $('#wdate').val().trim(),
                        Comments: $('#wcomments').val().trim(),
                        Sheets: orderItems,
                        Totali: $('#toting').html().trim(),
                        Totalc: $('#totcos').html().trim(),
                        Totalg: $('#totgas').html().trim(),
                        Totalo: $('#tototr').html().trim(),
                        TotalAmount: $('#wtotal').val().trim()
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("CreateWorksheet", "Worksheets")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            //check is successfully save to database
                            if (d.status == true) {

                                var url = '@Url.Action("DetailsLast", "Worksheets")';
                                window.location.href = url;
                            } else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function() {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });


            function ingreso() {

                $('.elimi').remove();
                if (orderItemsi.length > 0) {
                    $('#orderItemsi').html('<span class="text-danger"></span>');
                    $.each(orderItemsi, function(i, val) {
                        var $rowi = $('<tr class="elimi"  style="background-color: white"></tr>');
                        $rowi.append($('<td style="width: 33.4%;overflow-wrap: break-word"></td>').html(val.SheetDescription));
                        $rowi.append($('<td style="width: 500px;overflow-wrap: break-word"></td>').html(val.Comments));
                        $rowi.append($('<td></td>').html(val.Amount));
                        var $removei = $('<a style="color:red; width: 37px" href="#"><span class="glyphicon glyphicon-remove"></span></a>');
                        //CALCULO TOTAL ing
                        ting = 0;
                        $.each(toting, function() { ting += parseFloat(this) || 0; });
                        $('#toting').html(ting.toFixed(2));
                        //FIN CALCULO TOTAL ing
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                        $removei.click(function(e) {
                            toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Ingreso:");
                            e.preventDefault();
                            orderItemsi.splice(i, 1);
                            toting.splice(i, 1);
                            ingreso();
                            //CALCULO TOTAL ing
                            ting = 0;
                            $.each(toting, function() { ting += parseFloat(this) || 0; });
                            $('#toting').html(ting.toFixed(2));
                            //FIN CALCULO TOTAL ing
                            //calculo total gral
                            calculogral();
                            //fin calculo total gral
                        });
                        $rowi.append($('<td style="width:37px"></td>').append($removei));
                        $('#ingresotabla > tbody:last').append($rowi);
                    });
                } else {
                    $('#orderItemsi').html('');
                }
            }

            function costo() {

                $('.elimc').remove();
                if (orderItemsc.length > 0) {
                    $('#orderItemsc').html('<span class="text-danger"></span>');
                    $.each(orderItemsc, function(i, val) {
                        var $rowc = $('<tr class="elimc"  style="background-color: white"></tr>');
                        $rowc.append($('<td style="width: 33.4%;overflow-wrap: break-word"></td>').html(val.SheetDescription));
                        $rowc.append($('<td style="width: 500px;overflow-wrap: break-word"></td>').html(val.Comments));
                        $rowc.append($('<td></td>').html(val.Amount));
                        var $removec = $('<a style="color:red;width: 37px" href="#"><span class="glyphicon glyphicon-remove"></span></a>');
                        //CALCULO TOTAL cos
                        tcos = 0;
                        $.each(totcos, function() { tcos += parseFloat(this) || 0; });
                        $('#totcos').html(tcos.toFixed(2));
                        //FIN CALCULO TOTAL cos
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                        $removec.click(function(e) {
                            toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Costo:");
                            e.preventDefault();
                            orderItemsc.splice(i, 1);
                            totcos.splice(i, 1);
                            costo();
                            //CALCULO TOTAL cos
                            tcos = 0;
                            $.each(totcos, function() { tcos += parseFloat(this) || 0; });
                            $('#totcos').html(tcos.toFixed(2));
                            //FIN CALCULO TOTAL cos
                            //calculo total gral
                            calculogral();
                            //fin calculo total gral
                        });
                        $rowc.append($('<td style="width: 37px"></td>').append($removec));
                        $('#costotabla > tbody:last').append($rowc);
                    });
                } else {
                    $('#orderItemsc').html('');
                }
            }

            function gasto() {

                $('.elimg').remove();
                if (orderItemsg.length > 0) {
                    $('#orderItemsg').html('<span class="text-danger"></span>');
                    $.each(orderItemsg, function(i, val) {
                        var $rowg = $('<tr class="elimg"  style="background-color: white"></tr>');
                        $rowg.append($('<td style="width: 33.4%;overflow-wrap: break-word"></td>').html(val.SheetDescription));
                        $rowg.append($('<td style="width: 500px;overflow-wrap: break-word"></td>').html(val.Comments));
                        $rowg.append($('<td></td>').html(val.Amount));
                        var $removeg = $('<a style="color:red; width: 37px" href="#"><span class="glyphicon glyphicon-remove"></span></a>');
                        //CALCULO TOTAL gas
                        tgas = 0;
                        $.each(totgas, function() { tgas += parseFloat(this) || 0; });
                        $('#totgas').html(tgas.toFixed(2));
                        //FIN CALCULO TOTAL gas
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                        $removeg.click(function(e) {
                            toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Gasto:");
                            e.preventDefault();
                            orderItemsg.splice(i, 1);
                            totgas.splice(i, 1);
                            gasto();
                            //CALCULO TOTAL gas
                            tgas = 0;
                            $.each(totgas, function() { tgas += parseFloat(this) || 0; });
                            $('#totgas').html(tgas.toFixed(2));
                            //FIN CALCULO TOTAL gas
                            //calculo total gral
                            calculogral();
                            //fin calculo total gral
                        });
                        $rowg.append($('<td style="width: 37px"></td>').append($removeg));
                        $('#gastotabla > tbody:last').append($rowg);
                    });
                } else {
                    $('#orderItemsg').html('');
                }
            }

            function otro() {

                $('.elimo').remove();
                if (orderItemso.length > 0) {
                    $('#orderItemso').html('<span class="text-danger"></span>');
                    $.each(orderItemso, function(i, val) {
                        var $rowo = $('<tr class="elimo"  style="background-color: white"></tr>');
                        $rowo.append($('<td style="width: 33.4%;overflow-wrap: break-word"></td>').html(val.SheetDescription));
                        $rowo.append($('<td style="width: 500px;overflow-wrap: break-word"></td>').html(val.Comments));
                        $rowo.append($('<td></td>').html(val.Amount));
                        var $removeo = $('<a style="color:red;width: 37px" href="#"><span class="glyphicon glyphicon-remove"></span></a>');
                        //CALCULO TOTAL otr
                        totr = 0;
                        $.each(tototr, function() { totr += parseFloat(this) || 0; });
                        $('#tototr').html(totr.toFixed(2));
                        //FIN CALCULO TOTAL otr
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral

                        $removeo.click(function(e) {
                            toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Otro ingreso:");
                            e.preventDefault();
                            orderItemso.splice(i, 1);
                            tototr.splice(i, 1);
                            otro();
                            //CALCULO TOTAL otr
                            totr = 0;
                            $.each(tototr, function() { totr += parseFloat(this) || 0; });
                            $('#tototr').html(totr.toFixed(2));
                            //FIN CALCULO TOTAL otr
                            //calculo total gral
                            calculogral();
                            //fin calculo total gral
                        });
                        $rowo.append($('<td style="width: 37px"></td>').append($removeo));
                        $('#otrotabla > tbody:last').append($rowo);

                    });
                } else {
                    $('#orderItemso').html('');
                }
            }


        });
    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: #b94a48;
        font-size: 90%;
    }

    legend {
        margin-bottom: 2px;
        background: lightblue;
        font-size: inherit;
       
        
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>

