@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Details";
}
<main>
    
    <h2 class="text-center">Planilla @Model.WorksheetDescription</h2>
</main>

<hr />

<table class="table">
    <thead>
        <tr>
            <td>N° Planilla</td>
            <td>Fecha de Creación</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.IdWorksheet</td>
            <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">Descripción</div>
    <div class="col-lg-4">Comentarios</div>
    <div class="col-lg-2">Opciones</div>
    <div class="col-lg-1">Monto</div>
    <div class="col-lg-1"></div>
</div>
<h4 class="text-left">Ingresos</h4>
<hr />

<table class="table">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Ingreso)
                {
                    <tr>
                        <td>@item.SheetDescription</td>
                        <td>@item.Comments</td>
                        <td>@item.Amount</td>
                        <td></td>
                    </tr>
                }
            }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h4 class="text-left">Costos</h4>
<hr/>

<table class="table">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Costo)
                {
                <tr>
                    <td>@item.SheetDescription</td>
                    <td>@item.Comments</td>
                    <td>@item.Amount</td>
                    <td></td>
                </tr>
            }
        }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h4 class="text-left">Gastos</h4>
<hr/>

<table class="table">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Gasto)
                {
                <tr>
                    <td>@item.SheetDescription</td>
                    <td>@item.Comments</td>
                    <td>-@item.Amount</td>
                    <td></td>
                </tr>
            }
        }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h4 class="text-left">Otros Ingresos</h4>
<hr />

<table class="table">
    <thead>

    </thead>
    <tbody>
    @foreach (var item in Model.Sheets)
    {
        if (item.SheetType == SistemaRentabilidad.Models.SheetType.OtroIngreso)
        {
            <tr>
                <td>@item.SheetDescription</td>
                <td>@item.Comments</td>
                <td>-@item.Amount</td>
                <td></td>
            </tr>
        }
    }
    <tr>
        <td style="border-right: hidden; border-left: hidden; border-bottom: hidden;"></td>
        <td class="text-right">Subtotal</td>
        <td></td>
    </tr>
    </tbody>
</table>


    <table class="table">
        <thead>
        <tr>
            <td>Observaciones</td>
            <td>Total</td>
        </tr>
        
        </thead>
        <tbody>
        <tr>
            <td>@Model.WorksheetDescription</td>
            <td>@Model.TotalAmount</td>
        </tr>
        
        </tbody>
        
       
    </table>
    

