@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Detalles de Planilla";
}

<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="~/Content/hover.css">
    <LINK REL="stylesheet" TYPE="text/css" HREF="~/Content/Site.css">


</head>
<style>
    .table {
 table-layout:fixed
  
}
     legend {
         margin-bottom: 2px;
         background: khaki;
         font-size: inherit;
     }

    .full {
        background-size: contain;
    }

    #resumentabla td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #nueva td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #ingresotabla td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #encabezadostabla td {
        border-color: darkgrey;
        line-height: 15px;
    }

    #costotabla td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #gastotabla td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #otrotabla td {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #ingresotabla th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #costotabla th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #gastotabla th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #otrotabla th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }


    #titulotabla th {
        border-color: darkgrey;
        background: darkkhaki;
    }

    #titulotabla td {
        border-color: darkgrey;
        background: white;
    }

    #nueva th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #resumentabla th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #otrosub th {
        border-color: darkgrey;
        background: white;
        line-height: 15px;
    }

    #encabezadostabla th {
        border-color: darkgrey;
        line-height: 15px;
    }

    #totalingresotabla th {
        border-color: darkgrey;
        line-height: 15px;
    }

    #totalgastotabla th {
        border-color: darkgrey;
        line-height: 15px;
    }

    #totalcostotabla th {
        border-color: darkgrey;
        line-height: 15px;
    }

    #totalotrotabla th {
        border-color: darkgrey;
        line-height: 15px;
    }

    .tipos {
        font-size: medium;
        font-weight: bold;
        font-style: italic;
    }


    .table {
        border-color: darkgrey;
        margin-bottom: 0px;
    }
</style>
@Html.HiddenFor(model => model.IdWorksheet)

<head>

    <link href="/Content/site.css" rel="stylesheet">
</head>
<div id="imp1" style="margin-top:-17px;">
    <br />


<h2 class="text-center">Detalles de Planillas</h2>
    <div class="col-lg-12 text-right" style="margin-top:-40px; margin-left: 15px">
        <a class="btn-sm btn-warning text-right hvr-glow" style="cursor:pointer" id="impcomprobante" onclick="print();">
            Imprimir&nbsp;<span class="glyphicon glyphicon-print" aria-hidden="true"></span>


        </a>

    </div>
    <hr style="margin-top:-7px;" />
   
        
    
  



        <table class="table table-condensed table-bordered ">

            <thead>
                <tr class="text-center tipos thStyleGradient2 bordesRedond">
                    <th class="text-center">
                        Planilla
                    </th>

                    <th class="text-center">
                        Período
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-weight: bold">
                    <td class="text-center">
                        @Html.DisplayFor(model => model.IdWorksheet)
                    </td>
                    <td class="text-center">
                        @{
                            var month = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(Model.Date.Month).ToUpper();


                            @Html.DisplayFor(model => month)
                            <text> &nbsp;</text>; @Model.Date.Year;

                        }
                    </td>
                </tr>
            </tbody>

        </table>
        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dotted" />

        <table id="encabezadostabla" class="table table-condensed table-bordered " style="margin-bottom: 2px">
            <thead>
                <tr class="text-center thStyleGradient3">
                    <th class="text-left" style="width: 40%;">
                        Descripción
                    </th>
                    <th class="text-left" style="width: 40%">
                        Observación
                    </th>

                    <th class="text-left" style="width: 20%">
                        Monto
                    </th>

                </tr>
            </thead>
        </table>

        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
        <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
            Ingresos
        </legend>

        <table id="ingresotabla" class="table table-condensed table-bordered ">

            <tbody id="ingreso">



                @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Ingreso)
                {

                        <tr>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.SheetDescription)


                            </td>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td class="montocentrado">
                                @Html.DisplayFor(modelItem => item.Amount)


                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
        <table id="totalingresotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
            <thead>
                <tr class="text-center" style="background: none">
                    <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                    </th>
                    <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                        Subtotal
                    </th>

                    <th class="text-left totalView montocentrado" id="toting" style="background: khaki;">
                        @Html.DisplayFor(model => model.Totali)
                    </th>
                    <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                    </th>

                </tr>
            </thead>
        </table>
        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

        <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
            Costos
        </legend>
        <table id="costotabla" class="table table-condensed table-bordered ">

            <tbody id="costo">

                @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Costo)
                {

                        <tr>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.SheetDescription)


                            </td>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td class="montocentrado">
                                @Html.DisplayFor(modelItem => item.Amount)


                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
        <table id="totalcostotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
            <thead>
                <tr class="text-center" style="background: none">
                    <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                    </th>
                    <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                        Subtotal
                    </th>

                    <th class="text-left totalView montocentrado" id="totcos" style="background: khaki;">
                        @Html.DisplayFor(model => model.Totalc)
                    </th>
                    <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                    </th>

                </tr>
            </thead>
        </table>
        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

        <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
            Gastos
        </legend>
        <table id="gastotabla" class="table table-condensed table-bordered ">

            <tbody id="gasto">

                @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Gasto)
                {
                        <tr>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.SheetDescription)

                            </td>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td class="montocentrado">
                                @Html.DisplayFor(modelItem => item.Amount)


                            </td>

                        </tr>
                    }
                }
            </tbody>

        </table>
        <table id="totalgastotabla" class="table table-condensed table-bordered tottable" style="margin-bottom: 10px">
            <thead>
                <tr class="text-center" style="background: none">
                    <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                    </th>
                    <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                        Subtotal
                    </th>

                    <th class="text-left totalView montocentrado" id="totgas" style="background: khaki;">
                        @Html.DisplayFor(model => model.Totalg)
                    </th>
                    <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                    </th>

                </tr>
            </thead>
        </table>
        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
        <legend class="thStyleGradient bordesRedond3 tipos col-lg-12 ">
            Otros ingresos
        </legend>
        <table id="otrotabla" class="table table-condensed table-bordered ">

            <tbody id="otro">

                @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.OtroIngreso)
                {

                        <tr>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.SheetDescription)


                            </td>
                            <td style="width: 40%;">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                            <td class="montocentrado">
                                @Html.DisplayFor(modelItem => item.Amount)


                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <table id="totalotrotabla" class="table table-condensed table-bordered  tottable" style="margin-bottom: 10px">
            <thead>
                <tr class="text-center" style="background: none">
                    <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

                    </th>
                    <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                        Subtotal
                    </th>

                    <th class="text-left totalView montocentrado" id="tototr" style="background: khaki;">
                        @Html.DisplayFor(model => model.Totalo)
                    </th>
                    <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

                    </th>

                </tr>
            </thead>
        </table>

        <hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
        <legend class="tipos text-center thStyleGradient2 bordesRedond ">
            Resumen
        </legend>
        <table class="table table-condensed   table-bordered " style="table-layout: fixed">

            <thead>
                <tr class="text-center thStyleGradient3 tipos">
                    <td style="width: 80%" class="text-left">
                        Observaciones
                    </td>
                    <td class="text-center">
                        Total
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 80%;overflow-wrap: break-word;">
                        @Html.DisplayFor(model => model.Comments)


                    </td>
                    <td class="totalView" style="font-weight: bold">
                        @Html.DisplayFor(model => model.TotalAmount)
                        <span class="text-danger" style="display: block"></span>
                    </td>
                </tr>

            </tbody>

        </table>

   
        <hr style="color: grey" />
        <div class="text-center hidden-print row">
            <div class="col-lg-5 text-left">
                <a href="@Url.Action("Index", "Worksheets")" class="btn btn-default btn-md"><span class="glyphicon glyphicon-hand-left " aria-hidden="true"></span>&nbsp;Ir a listado</a>
            </div>
            <div class="col-lg-7 text-left">
                <a href="@Url.Action("EditW", "Worksheets", new {id = Model.IdWorksheet})" class="btn btn-success">Editar&nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Worksheets", new {id = Model.IdWorksheet, details = true})" class="btn btn-danger dialog-window">Eliminar&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </div>
        </div>

        <br />

    </div>

<br/>
@*<a href="@Url.Action("Delete","Worksheets", new { id = Model.IdWorksheet})" data-form-method="post" class="btn btn-danger">Eliminar&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>*@
<div class="modal fade" id="myModal" role="dialog" style="margin-top: 5%"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 90%; left: 5%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Eliminar Planilla</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>

        </div>

    </div>

</div>
<div id="GSCCModal" class="modal fade" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 170%; left: -35%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Ayuda</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">Esta pantalla le proporcionará toda la información que necesite sobre una Planilla.</h4>
                <br/>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <h5>En la parte superior derecha de la pantalla encontrará el botón para Imprimir su Planilla.</h5>
                    </div>
                    <div class="col-lg-3" style="margin-top: 8px">
                        <div class="btn btn-warning text-center btn-sm"><span>Imprimir&nbsp;</span><span class="glyphicon glyphicon-print" aria-hidden="true"></span></div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>

                <h4 class="text-center">En la parte inferior de la pantalla encontrará las opciones de Planilla.</h4>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <text style="color:#28508e">Volver:&nbsp;</text><text>Vuelve a la Lista de Planillas.</text><br/>
                        <text style="color:#30b238">Editar:&nbsp;</text><text>Usted podrá hacer los ajustes necesarios sobre su Planilla.</text><br/>
                        <text style="color:#e54d3f">Eliminar:&nbsp;</text><text>Borrará la Planilla del sistema junto a toda su información. Recuerde que al realizar esta acción, no podrá recuperar los datos de su Planilla.</text>
                    </div>
                    <div class="col-lg-5" style="margin-top: 40px">
                        <div class="btn text-center" style="background-color: #28508e; color:white"><span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span><span>&nbsp;Volver</span></div>&nbsp;
                        <div class="btn text-center" style="background-color:#30b238; color:white"><span style="color:white">Editar&nbsp;</span><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></div>&nbsp;
                        <div class="btn text-center" style="background-color:#e54d3f; color:white"><span style="color:white">Eliminar&nbsp;</span><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                
            </div>
        </div>

    </div>

</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/printThis.js")"></script>
    <script>
    $(document).ready(function () {
        $("body").on("click", "a.dialog-window", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal .te').html(data);
                    $('#myModal').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
    })

    //function imprimir1() {
    //    $("#imp1").printThis({


    //    });
    //}
    </script>
}

