@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Planilla @Model.WorksheetDescription</h2>

<table class="table">
    <thead>
        <tr>
            <td>N° Planilla</td>
            <td>Descripción</td>
            <td>Fecha de Creación</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.IdWorksheet</td>
            <td>@Model.WorksheetDescription</td>
            <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</td>
            <td>@Model.TotalAmount</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center">Lista de Cuentas</h2>
<a href="@Url.Action("Create","Sheets", new { idws = Model.IdWorksheet})" class="btn btn-success">Nueva Cuenta</a>

<table class="table">
    <thead>
        <tr>
            <td>N° Cuenta</td>
            <td>Descrición</td>
            <td>Fecha de Creación</td>
            <td>Tipo</td>
            <td>Monto</td>
            <td>IVA</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
        {
            <tr>
                <td>@item.IdSheet</td>
                <td>@item.SheetDescription</td>
                <td>@item.Date</td>
                <td>@item.SheetType</td>
                <td>@item.Amount</td>
                <td>@item.Iva</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@*<div>
        <h4>Worksheet</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WorksheetDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WorksheetDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

        </dl>
    </div>*@
<@*p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdWorksheet }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@