@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Planilla @Model.WorksheetDescription</h2>
<hr style="color:grey;border-color:grey" />

<table class="table">
    <thead>
        <tr>
            <td>N° Planilla</td>
            <td>Descripción</td>
            <td>Fecha de Creación</td>
            <td>Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.IdWorksheet</td>
            <td>@Model.WorksheetDescription</td>
            <td>@Model.Date.Day/@Model.Date.Month/@Model.Date.Year</td>
            <td>@Model.TotalAmount</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center">Ingresos</h2>
<hr style="color:grey;border-color:grey" />

<table class="table">
    <thead>
        <tr>           
            <td>Descrición</td>
            <td>Comentarios</td>
            <td>Monto</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Ingreso)
                {
                    <tr>
                        <td>@item.SheetDescription</td>
                        <td>@item.Comments</td>
                        <td>@item.Amount</td>
                        <td></td>
                    </tr>
                }
            }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h2 class="text-center">Costos</h2>
<hr style="color:grey;border-color:grey" />

<table class="table">
    <thead>
        <tr>
            <td>Descrición</td>
            <td>Comentarios</td>
            <td>Monto</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Costo)
                {
                <tr>
                    <td>@item.SheetDescription</td>
                    <td>@item.Comments</td>
                    <td>@item.Amount</td>
                    <td></td>
                </tr>
            }
        }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h2 class="text-center">Gastos</h2>
<hr style="color:grey;border-color:grey" />

<table class="table">
    <thead>
        <tr>
            <td>Descrición</td>
            <td>Comentarios</td>
            <td>Monto</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
            {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.Gasto)
                {
                <tr>
                    <td>@item.SheetDescription</td>
                    <td>@item.Comments</td>
                    <td>-@item.Amount</td>
                    <td></td>
                </tr>
            }
        }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr></tbody>
</table>

<h2 class="text-center">Otros Ingresos</h2>
<hr style="color:grey;border-color:grey" />

<table class="table">
    <thead>
        <tr>
            <td>Descrición</td>
            <td>Comentarios</td>
            <td>Monto</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sheets)
        {
                if (item.SheetType == SistemaRentabilidad.Models.SheetType.OtroIngreso)
                {
                <tr>
                    <td>@item.SheetDescription</td>
                    <td>@item.Comments</td>
                    <td>-@item.Amount</td>
                    <td></td>
                </tr>
            }
        }
        <tr>
            <td style="border-right:hidden;border-left:hidden;border-bottom:hidden;"></td>
            <td class="text-right">Subtotal</td>
            <td></td>
        </tr>
    </tbody>
</table>
