@using SistemaRentabilidad.Models
@model SistemaRentabilidad.ViewModels.WsVM
@{
    ViewBag.Title = "Editar Planilla";
}
<style>
    .full {
        background-size: contain;
    }

    #resumentabla td {
        line-height: 15px;
    }

    #nueva td {
        line-height: 15px;
    }

    #ingresotabla td {
        line-height: 15px;
    }

    #encabezadostabla td {
        line-height: 15px;
    }

    #costotabla td {
        line-height: 15px;
    }

    #gastotabla td {
        line-height: 15px;
    }

    #otrotabla td {
        line-height: 15px;
    }

    #ingresotabla th {
        line-height: 15px;
    }

    #costotabla th {
        line-height: 15px;
    }

    #gastotabla th {
        line-height: 15px;
    }

    #otrotabla th {
        line-height: 15px;
    }

    #nueva th {
        line-height: 15px;
    }

    #resumentabla th {
        line-height: 15px;
    }

    #otrosub th {
        line-height: 15px;
    }

    #encabezadostabla th {
        line-height: 15px;
    }

    #totalingresotabla th {
        line-height: 15px;
    }

    #totalgastotabla th {
        line-height: 15px;
    }

    #totalcostotabla th {
        line-height: 15px;
    }

    #totalotrotabla th {
        line-height: 15px;
    }



    .table {
        margin-bottom: 0px;
    }
</style>
@Html.HiddenFor(model => model.IdWorksheet)

<h2 class="text-center">Editar Planilla</h2>

@*///////////////////////////*@
<hr style="margin-top: 10px;margin-bottom: 10px;" />

@*<legend style="margin-bottom: 2px;">
        Planilla: @Html.DisplayFor(model => model.IdWorksheet)
    </legend>*@
<table id="titulotabla" class="table table-condensed table-bordered ">

    <thead class="tableStyle">


        <tr class="text-center" style="background: #77a9f9">
            <th class="col-lg-4 text-center">N° Planilla</th>

            <th class="col-lg-8 text-center" >
                Fecha de creación
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="dataContainer text-center">
                @Model.IdWorksheet
            </td>
            <td class="text-center inputForm2 ">
                @*@Html.TextBoxFor(model => model.Date.ToString("Y"), new { @onkeyup = "valwd()", @oninput = "valwd()", @onkeypress = "valwd()", @class = "inputForm2 panel-info" })*@
                <input id="Date" name="Date" type="month" onkeyup="valwd()" oninput="valwd()" onkeypress="valwd()" class = "inputForm2 panel-info" value="@Model.Date.ToString("yyyy-MM")" />
                <span id="wdate" class="text-danger" style="display: block"></span>
            </td>
        </tr>

    </tbody>

</table>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
<div style="display: inline-block">
    <button id="mostrar" class="hidden-print btn btn-primary btn-sm hvr-bubble-right hvr-grow">Nueva linea</button>
    <div id="nuevalinea" style="display: none">
        <a style="margin-bottom: 2px; background: #89bad3">
            <button id="ocultar" class="hidden-print btn btn-xs hvr-bubble-left positionOcultar">Ocultar</button>

        </a>
        <table id="nueva" class="table table-condensed table-bordered " style="margin-bottom: 10px">
            <thead>
                <tr class="text-left" style="background: gainsboro">
                    <th class="text-left" style="width: 40%">
                        Descripción
                    </th>
                    <th class="text-left" style="width: 40%">
                        Observación
                    </th>

                    <th class="text-left">
                        Monto
                    </th>
                    <th class="text-center">
                        Tipo
                    </th>
                </tr>
            </thead>
            <tbody id="nueva">
                <tr>
                    <td class="text-left ">
                        <input type="text" class="panel-info form-control-sm inputForm" id="ndescription" placeholder="" />
                        <span class="text-danger" style="display: block"></span>
                    </td>
                    <td class="text-left ">
                        <input type="text" class="panel-info form-control-sm inputForm" id="ncomment" placeholder="" />
                        <span class="text-danger" style="display: block"></span>
                    </td>
                    <td class="">
                        <input type="number" class="panel-info form-control-sm inputForm" style="width: 100px" value="1" id="namount" onkeypress="solonumerosptocoma();" />
                        <span class="text-danger" style="display: block"></span>
                    </td>
                    <td>
                        <div class="btn-group btn-group-justified" data-toggle="buttons" style="display: inline">
                            <label class="btn btn-info btn-xs active styleButton" value="ing" onclick="acting(this)">
                                <input type="radio" name="options" value="ing" onclick="acttipo(this)" autocomplete="off" checked>Ingreso
                            </label>
                            <label class="btn btn-info btn-xs" value="cos" onclick="actcos(this)">
                                <input type="radio" name="options" value="cos" autocomplete="off">Costo
                            </label>
                            <label class="btn btn-info btn-xs" value="gas" onclick="actgas(this)">
                                <input type="radio" name="options" value="gas" autocomplete="off">Gasto
                            </label>
                            <label class="btn btn-info btn-xs" value="otr" onclick="actotr(this)">
                                <input type="radio" name="options" value="otr" autocomplete="off">Otro ing.
                            </label>
                        </div>
                    </td>
                    <td class="">
                        <button type="button" id="addn" class="btn btn-success btn-xs add" value="nueva" />
                        <span class="glyphicon glyphicon-plus"></span>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: inset; border-width: thin;" />


<table id="encabezadostabla" class="table table-condensed table-bordered " style="margin-bottom: 2px">
    <thead>
      
            <tr class="text-left" style="border-radius: 3px; font-weight: bold; background: gainsboro" >
                <th class="text-left" style="width: 40%">
                    Descripción
                </th>
                <th class="text-left" style="width: 40%">
                    Observación
                </th>
                <th class="text-left" style="width: 20%">
                    Monto
                </th>
            </tr>
</thead>
</table>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
<text class="thStyleGradient tipos col-lg-12">
    <b>Ingresos</b>
</text>
<table id="ingresotabla" class="table table-condensed table-bordered ">

    <tbody id="ingreso">
      
        @foreach (var item in Model.Sheets)
        {
            if (item.SheetType == SheetType.Ingreso)
            {

                <tr>
                    <td class="text-left" style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.SheetDescription, new { @id = "iteming_SheetDescription" + @item.IdSheet, Name = "ing_SheetDescription", @onkeyup = "valdesc(this)", @oninput = "valdesc(this)", @onkeypress = "valdesc(this)", @class = "inputForm panel-info" })
                        <span class="text-danger" id="@("spaniteming_SheetDescription"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td class="text-left" style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.Comments, new { @id = "iteming_Comments" + @item.IdSheet, Name = "ing_Comments", @class = "inputForm panel-info" })
                    </td>
                    <td class="text-left">
                        @Html.TextBoxFor(modelItem => item.Amount, new { @id = "iteming_Amount" + @item.IdSheet, Name = "ing_Amount", @onkeyup = "calcing();calculogral();valamou(this)", @oninput = "calcing();calculogral();valamou(this)", @onkeypress = "solonumerosptocoma();valamou(this)", @class = "inputForm panel-info" })
                        <span class="text-danger" id="@("spaniteming_Amount"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width:2%"><a style="color:red;"  href="#" id="@item.IdSheet" onclick="borrarfilaing(this)">X</a></td>
                </tr>}
        }
    </tbody>

</table>
<table id="totalingresotabla" class="table table-condensed table-bordered " style="margin-bottom: 10px">
    <thead>
        <tr class="text-left" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" id="toting">
                @Html.TextBoxFor(model => model.Totali, new { @readonly = "readonly", @class = "totalView" })
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

<text class="thStyleGradient tipos col-lg-12">
    <b> Costos de las ventas</b>
</text>
<table id="costotabla" class="table table-condensed table-bordered ">

    <tbody id="costo">
  
        @foreach (var item in Model.Sheets)
        {
            if (item.SheetType == SheetType.Costo)
            {

                <tr>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.SheetDescription, new { @id = "itemcos_SheetDescription" + @item.IdSheet, Name = "cos_SheetDescription", @onkeyup = "valdesc(this)", @oninput = "valdesc(this)", @onkeypress = "valdesc(this)", @class = "inputForm panel-info"})
                        <span class="text-danger" id="@("spanitemcos_SheetDescription"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.Comments, new { @id = "itemcos_Comments" + @item.IdSheet, Name = "cos_Comments", @class = "inputForm panel-info" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Amount, new { @id = "itemcos_Amount" + @item.IdSheet, Name = "cos_Amount", @onkeyup = "calccos();calculogral();valamou(this)", @oninput = "calccos();calculogral();valamou(this)", @onkeypress = "solonumerosptocoma();valamou(this)", @class = "inputForm panel-info" })
                        <span class="text-danger" id="@("spanitemcos_Amount"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width:2%"><a style="color:red" href="#" id="@item.IdSheet" onclick="borrarfilacos(this)">X</a></td>
                </tr>
            }
        }
    </tbody>

</table>
<table id="totalcostotabla" class="table table-condensed table-bordered " style="margin-bottom: 10px">
    <thead>
        <tr class="text-left" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left"  id="totcos">
                @Html.TextBoxFor(model => model.Totalc, new { @readonly = "readonly", @class="totalView" })
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

<text class="thStyleGradient tipos col-lg-12">
    <b>  Gastos</b>
</text>
<table id="gastotabla" class="table table-condensed table-bordered ">

    <tbody id="gasto">

        @foreach (var item in Model.Sheets)
        {
            if (item.SheetType == SheetType.Gasto)
            {
                <tr>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.SheetDescription, new { @id = "itemgas_SheetDescription" + @item.IdSheet, Name = "gas_SheetDescription", @onkeyup = "valdesc(this)", @oninput = "valdesc(this)", @onkeypress = "valdesc(this)", @class = "inputForm panel-info" })
                        <span class="text-danger" id="@("spanitemgas_SheetDescription"+@item.IdSheet)" style="display: block"></span>

                    </td>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.Comments, new { @id = "itemgas_Comments" + @item.IdSheet, Name = "gas_Comments", @class = "inputForm panel-info" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Amount, new { @id = "itemgas_Amount" + @item.IdSheet, Name = "gas_Amount", @onkeyup = "calcgas();calculogral();valamou(this)", @oninput = "calcgas();calculogral();valamou(this)", @onkeypress = "solonumerosptocoma();valamou(this)", @class = "inputForm panel-info" })
                        <span class="text-danger" id="@("spanitemgas_Amount"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width:2%"><a style="color:red" href="#" id="@item.IdSheet" onclick="borrarfilagas(this)">X</a></td>
                </tr>
            }
        }
    </tbody>

</table>
<table id="totalgastotabla" class="table table-condensed table-bordered " style="margin-bottom: 10px">
    <thead>
        <tr class="text-left" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left"  id="totgas">
                @Html.TextBoxFor(model => model.Totalg, new { @readonly = "readonly", @class = "totalView" })
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>
<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />

<text class="thStyleGradient tipos col-lg-12">
    <b>   Otros ingresos</b>
</text>

<table id="otrotabla" class="table table-condensed table-bordered ">

    <tbody id="otro">
 
        @foreach (var item in Model.Sheets)
        {
            if (item.SheetType == SheetType.OtroIngreso)
            {

                <tr>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.SheetDescription, new { @id = "itemotr_SheetDescription" + @item.IdSheet, Name = "otr_SheetDescription", @onkeyup = "valdesc(this)", @oninput = "valdesc(this)", @onkeypress = "valdesc(this)" })
                        <span class="text-danger" id="@("spanitemotr_SheetDescription"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width: 40%;">
                        @Html.TextBoxFor(modelItem => item.Comments, new { @id = "itemotr_Comments" + @item.IdSheet, Name = "otr_Comments" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Amount, new { @id = "itemotr_Amount" + @item.IdSheet, Name = "otr_Amount", @onkeyup = "calcotr();calculogral();valamou(this)", @oninput = "calcotr();calculogral();valamou(this)", @onkeypress = "solonumerosptocoma();valamou(this)" })
                        <span class="text-danger" id="@("spanitemotr_Amount"+@item.IdSheet)" style="display: block"></span>


                    </td>
                    <td style="width:2%"><a style="color:red" href="#" id="@item.IdSheet" onclick="borrarfilaotr(this)">X</a></td>
                </tr>
            }
        }
    </tbody>
</table>
<table id="totalotrotabla" class="table table-condensed table-bordered " style="margin-bottom: 10px">
    <thead>
        <tr class="text-left" style="background: none">
            <th class="text-left" style="width: 40%; border-bottom: hidden; border-top: hidden;border-left:hidden">

            </th>
            <th class="text-right" style="width: 40%; font-weight: bolder;border-bottom: hidden; border-top: hidden; border-left: hidden;font-style: italic;font-size: medium;">
                Subtotal
            </th>

            <th class="text-left" id="tototr">
                @Html.TextBoxFor(model => model.Totalo, new { @readonly = "readonly", @class = "totalView" })
            </th>
            <th style="width: 2%;border-bottom: hidden; border-top: hidden;border-right:hidden">

            </th>

        </tr>
    </thead>
</table>

<hr style="margin-top: 2px; margin-bottom: 5px; border-style: dashed" />
<legend class="tipos text-center" style="background: #77a9f9">
    Resumen
</legend>
<table id="resumentabla" class="table table-condensed    table-bordered ">

    <thead class="tableStyle">
        <tr class="text-left" style="background: gainsboro">
            <td class="text-left" style="border-radius: 3px; font-weight: bold">
                Observaciones
            </td>
            <td class="text-left" style="border-radius: 3px; width: 200px; font-weight: bold">
                Total
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.Comments, new {@class="inputForm panel-info" })


            </td>
            <td>
                @Html.TextBoxFor(model => model.TotalAmount, new { @readonly = "readonly", @class = "totalView" })
                <span class="text-danger" style="display: block"></span>
            </td>
        </tr>

    </tbody>

</table>

<hr style="color: grey" />
<div class="text-center">
    <a href="@Url.Action("Index","Worksheets")" class="btn btn-default btn-md"><span class="glyphicon glyphicon-hand-left " aria-hidden="true">&nbsp;Volver</span></a>
    <button type="button" id="guardar" class="btn btn-success btn-md" value="Guardar">
        Guardar
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>


</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/solonumerosptocoma.js")"></script>
    <script>
        $("#mostrar").click(function() {
            //$(this).text(function(i, text) {
            //    return text === "mostrar" ? "Nueva linea" : "mostrar";
            //});
            $("#mostrar").hide();
            $("#nuevalinea").toggle("slow");

        });
        $("#ocultar").click(function() {
            $("#nuevalinea").toggle("slow");
            $("#mostrar").toggle("slow");
        });


        function valwd() {

            if ($('#Date').val().trim() == '') {
                $('#wdate').html('Requerido');
            } else {
                $('#wdate').html('');
            }
        }

        function valdesc(x) {
            var a = x.id;
            if (x.value.trim() == "" || x.value == null) {
                $('#span' + a).html('Requerido.');

            } else {
                $('#span' + a).html('');
            };
        }

        function valamou(x) {
            var a = x.id;
            if (x.value.trim() == "" || x.value == null) {
                $('#span' + a).html('Requerido.');

            } else {
                if (x.value.trim() == 0) {
                    $('#span' + a).html('Debe ser mayor a 0.');
                } else {
                    $('#span' + a).html('');
                }
            };
        }

        function calcing() {
            ting = 0;
            $.each(toting, function() { ting += parseFloat(this) || 0; });
            $.each(itemsiamounts, function() { ting += parseFloat(this) || 0; });
            document.getElementById("Totali").value = ting.toFixed(2);
        }

        function calccos() {
            tcos = 0;
            $.each(totcos, function() { tcos += parseFloat(this) || 0; });
            $.each(itemscamounts, function() { tcos += parseFloat(this) || 0; });
            document.getElementById("Totalc").value = tcos.toFixed(2);
        }

        function calcgas() {
            tgas = 0;
            $.each(totgas, function() { tgas += parseFloat(this) || 0; });
            $.each(itemsgamounts, function() { tgas += parseFloat(this) || 0; });
            document.getElementById("Totalg").value = tgas.toFixed(2);
        }

        function calcotr() {
            totr = 0;
            $.each(tototr, function() { totr += parseFloat(this) || 0; });
            $.each(itemsoamounts, function() { totr += parseFloat(this) || 0; });
            document.getElementById("Totalo").value = totr.toFixed(2);
        }

        function arraysamountsedit() {
            itemsi = [];
            itemsiamounts = [];
            itemsc = [];
            itemscamounts = [];
            itemsg = [];
            itemsgamounts = [];
            itemso = [];
            itemsoamounts = [];

            $("input[name='ing_Amount']").map(function() { itemsiamounts.push(parseFloat(this.value)) });
            $("input[name='cos_Amount']").map(function() { itemscamounts.push(parseFloat(this.value)) });
            $("input[name='gas_Amount']").map(function() { itemsgamounts.push(parseFloat(this.value)) });
            $("input[name='otr_Amount']").map(function() { itemsoamounts.push(parseFloat(this.value)) });

        }

        function arraysedit() {
            itemsi = [];
            itemsidescriptions = [];
            itemsicomments = [];
            itemsiamounts = [];

            itemsc = [];
            itemscdescriptions = [];
            itemsccomments = [];
            itemscamounts = [];

            itemsg = [];
            itemsgdescriptions = [];
            itemsgcomments = [];
            itemsgamounts = [];

            itemso = [];
            itemsodescriptions = [];
            itemsocomments = [];
            itemsoamounts = [];
            $("input[name='ing_SheetDescription']").map(function() { itemsidescriptions.push((this.value)) });
            $("input[name='ing_Comments']").map(function() { itemsicomments.push((this.value)) });
            $("input[name='ing_Amount']").map(function() { itemsiamounts.push(parseFloat(this.value)) });

            $("input[name='cos_SheetDescription']").map(function() { itemscdescriptions.push((this.value)) });
            $("input[name='cos_Comments']").map(function() { itemsccomments.push((this.value)) });
            $("input[name='cos_Amount']").map(function() { itemscamounts.push(parseFloat(this.value)) });

            $("input[name='gas_SheetDescription']").map(function() { itemsgdescriptions.push((this.value)) });
            $("input[name='gas_Comments']").map(function() { itemsgcomments.push((this.value)) });
            $("input[name='gas_Amount']").map(function() { itemsgamounts.push(parseFloat(this.value)) });

            $("input[name='otr_SheetDescription']").map(function() { itemsodescriptions.push((this.value)) });
            $("input[name='otr_Comments']").map(function() { itemsocomments.push((this.value)) });
            $("input[name='otr_Amount']").map(function() { itemsoamounts.push(parseFloat(this.value)) });


            for (i = 0; i < itemsidescriptions.length; i++) {

                itemsi.push({
                    SheetDescription: itemsidescriptions[i],
                    Comments: itemsicomments[i],
                    Amount: itemsiamounts[i],
                    SheetType: 0

                });
            }

            for (i = 0; i < itemscdescriptions.length; i++) {

                itemsc.push({
                    SheetDescription: itemscdescriptions[i],
                    Comments: itemsccomments[i],
                    Amount: itemscamounts[i],
                    SheetType: 1

                });
            }
            for (i = 0; i < itemsgdescriptions.length; i++) {

                itemsg.push({
                    SheetDescription: itemsgdescriptions[i],
                    Comments: itemsgcomments[i],
                    Amount: itemsgamounts[i],
                    SheetType: 2

                });
            }
            for (i = 0; i < itemsodescriptions.length; i++) {

                itemso.push({
                    SheetDescription: itemsodescriptions[i],
                    Comments: itemsocomments[i],
                    Amount: itemsoamounts[i],
                    SheetType: 3

                });
            }
        }

        function calculogral() {
            arraysamountsedit();
            tgral = 0;
            $.each(toting, function() { tgral += parseFloat(this) || 0; });
            $.each(itemsiamounts, function() { tgral += parseFloat(this) || 0; });
            $.each(tototr, function() { tgral += parseFloat(this) || 0; });
            $.each(itemsoamounts, function() { tgral += parseFloat(this) || 0; });
            $.each(totgas, function() { tgral -= parseFloat(this) || 0; });
            $.each(itemsgamounts, function() { tgral -= parseFloat(this) || 0; });
            $.each(totcos, function() { tgral -= parseFloat(this) || 0; });
            $.each(itemscamounts, function() { tgral -= parseFloat(this) || 0; });
            document.getElementById("TotalAmount").value = tgral.toFixed(2);
        }


        function borrarfilaing(row) {
            var a = row.id;
            toastr.warning("-" + $('#iteming_SheetDescription'+a).val()+ "-<br/>Eliminado.", "Ingreso:");
            row.closest('tr').remove();
            arraysamountsedit();
            calcing();
            calccos();
            calcgas();
            calcotr();
            calculogral();
        }
        function borrarfilacos(row) {
            var a = row.id;
            toastr.warning("-" + $('#itemcos_SheetDescription'+a).val()+ "-<br/>Eliminado.", "Costo:");
            row.closest('tr').remove();
            arraysamountsedit();
            calcing();
            calccos();
            calcgas();
            calcotr();
            calculogral();
        }
        function borrarfilagas(row) {
            var a = row.id;
            toastr.warning("-" + $('#itemgas_SheetDescription'+a).val()+ "-<br/>Eliminado.", "Gasto:");
            row.closest('tr').remove();
            arraysamountsedit();
            calcing();
            calccos();
            calcgas();
            calcotr();
            calculogral();
        }
        function borrarfilaotr(row) {
            var a = row.id;
            toastr.warning("-" + $('#itemotr_SheetDescription'+a).val()+ "-<br/>Eliminado.", "Otro ingreso:");
            row.closest('tr').remove();
            arraysamountsedit();
            calcing();
            calccos();
            calcgas();
            calcotr();
            calculogral();
        }






        function acting(a) { tipo = "ing"; }

        function actcos(a) { tipo = "cos"; }

        function actgas(a) { tipo = "gas"; }

        function actotr(a) { tipo = "otr"; }

        $(document).ready(function() {

            tipo = "ing";

            orderItems = [];
            orderItemsi = [];
            orderItemsc = [];
            orderItemsg = [];
            orderItemso = [];

            toting = [];
            totcos = [];
            totgas = [];
            tototr = [];
            arraysamountsedit();


        });


        /////ADD click ////////
        ///////////////////////
        $('#addn').click(function() {
            arraysamountsedit();


            var isValidItem = true;

            //Check validation of order item
            if ($('#ndescription').val().trim() == '') {
                isValidItem = false;
                $('#ndescription').siblings('span.text-danger').html('Requerido');
            } else {
                $('#ndescription').siblings('span.text-danger').html('');
            }

            if ($('#namount').val().trim() == '') {
                isValidItem = false;
                $('#namount').siblings('span.text-danger').html('Requerido');
            } else {
                if ($('#namount').val().trim() == 0) {
                    isValidItem = false;
                    $('#namount').siblings('span.text-danger').html('Debe ser mayor a 0');
                } else {
                    $('#namount').siblings('span.text-danger').html('');
                }
            }


            if (isValidItem) {


                var SheetDescription = $('#ndescription').val().trim();
                var Amount = $('#namount').val().trim();
                var Comments = $('#ncomment').val().trim();

                if (tipo == "ing") {
                    var SheetType = 0;
                    orderItemsi.push({
                        SheetDescription: SheetDescription,
                        Amount: Amount,
                        Comments: Comments,
                        SheetType: SheetType
                    });
                    toting.push(
                        parseFloat(Amount)
                    );
                    toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Ingreso:");
                    ingreso();
                };
                if (tipo == "cos") {
                    var SheetType = 1;
                    orderItemsc.push({
                        SheetDescription: SheetDescription,
                        Amount: Amount,
                        Comments: Comments,
                        SheetType: SheetType
                    });
                    totcos.push(
                        parseFloat(Amount)
                    );
                    toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Costo:");
                    costo();
                };
                if (tipo == "gas") {
                    var SheetType = 2;
                    orderItemsg.push({
                        SheetDescription: SheetDescription,
                        Amount: Amount,
                        Comments: Comments,
                        SheetType: SheetType
                    });
                    totgas.push(
                        parseFloat(Amount)
                    );
                    toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Gasto:");
                    gasto();
                };
                if (tipo == "otr") {
                    var SheetType = 3;
                    orderItemso.push({
                        SheetDescription: SheetDescription,
                        Amount: Amount,
                        Comments: Comments,
                        SheetType: SheetType
                    });
                    tototr.push(
                        parseFloat(Amount)
                    );
                    toastr.info("-" + SheetDescription + "-<br/>Agregado.", "Otro ingreso:");
                    otro();
                };
                $('#ndescription,#namount,#ncomment').val('');

            }


        });


        /////Fin ADD click/////
        ///////////////////////

        //functiones agregar ing cos gas otr/////////////
        /////////////////////
        function ingreso() {

            $('.elimi').remove();
            if (orderItemsi.length > 0) {
                $('#orderItemsi').html('<span class="text-danger"></span>');
                $.each(orderItemsi, function(i, val) {
                    var $rowi = $('<tr class="elimi"  style="background-color: white"></tr>');
                    $rowi.append($('<td style="width: 40%"></td>').html(val.SheetDescription));
                    $rowi.append($('<td style="width: 40%"></td>').html(val.Comments));
                    $rowi.append($('<td></td>').html(val.Amount));
                    var $removei = $('<a style="color:red" href="#">X</a>');
                    //CALCULO TOTAL ing
                    ting = 0;
                    $.each(toting, function() { ting += parseFloat(this) || 0; });
                    $.each(itemsiamounts, function() { ting += parseFloat(this) || 0; });
                    document.getElementById("Totali").value = ting.toFixed(2);
                    //FIN CALCULO TOTAL ing
                    //calculo total gral
                    calculogral();
                    //fin calculo total gral
                    $removei.click(function(e) {
                        toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Ingreso:");
                        e.preventDefault();
                        orderItemsi.splice(i, 1);
                        toting.splice(i, 1);
                        ingreso();
                        //CALCULO TOTAL ing
                        ting = 0;
                        $.each(toting, function() { ting += parseFloat(this) || 0; });
                        $.each(itemsiamounts, function() { ting += parseFloat(this) || 0; });
                        document.getElementById("Totali").value = ting.toFixed(2);
                        //FIN CALCULO TOTAL ing
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                    });
                    $rowi.append($('<td style="width:2%"></td>').append($removei));
                    $('#ingresotabla > tbody:last').append($rowi);
                });
            } else {
                $('#orderItemsi').html('');
            }
        }

        function costo() {

            $('.elimc').remove();
            if (orderItemsc.length > 0) {
                $('#orderItemsc').html('<span class="text-danger"></span>');
                $.each(orderItemsc, function(i, val) {
                    var $rowc = $('<tr class="elimc"  style="background-color: white"></tr>');
                    $rowc.append($('<td style="width: 40%"></td>').html(val.SheetDescription));
                    $rowc.append($('<td style="width: 40%"></td>').html(val.Comments));
                    $rowc.append($('<td></td>').html(val.Amount));
                    var $removec = $('<a style="color:red" href="#">X</a>');
                    //CALCULO TOTAL cos
                    tcos = 0;
                    $.each(totcos, function() { tcos += parseFloat(this) || 0; });
                    $.each(itemscamounts, function() { tcos += parseFloat(this) || 0; });
                    document.getElementById("Totalc").value = tcos.toFixed(2);
                    //FIN CALCULO TOTAL cos
                    //calculo total gral
                    calculogral();
                    //fin calculo total gral
                    $removec.click(function(e) {
                        toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Costo:");
                        e.preventDefault();
                        orderItemsc.splice(i, 1);
                        totcos.splice(i, 1);
                        costo();
                        //CALCULO TOTAL cos
                        tcos = 0;
                        $.each(totcos, function() { tcos += parseFloat(this) || 0; });
                        $.each(itemscamounts, function() { tcos += parseFloat(this) || 0; });
                        document.getElementById("Totalc").value = tcos.toFixed(2);
                        //FIN CALCULO TOTAL cos
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                    });
                    $rowc.append($('<td style="width: 2%"></td>').append($removec));
                    $('#costotabla > tbody:last').append($rowc);
                });
            } else {
                $('#orderItemsc').html('');
            }
        }

        function gasto() {

            $('.elimg').remove();
            if (orderItemsg.length > 0) {
                $('#orderItemsg').html('<span class="text-danger"></span>');
                $.each(orderItemsg, function(i, val) {
                    var $rowg = $('<tr class="elimg"  style="background-color: white"></tr>');
                    $rowg.append($('<td style="width: 40%"></td>').html(val.SheetDescription));
                    $rowg.append($('<td style="width: 40%"></td>').html(val.Comments));
                    $rowg.append($('<td></td>').html(val.Amount));
                    var $removeg = $('<a style="color:red" href="#">X</a>');
                    //CALCULO TOTAL gas
                    tgas = 0;
                    $.each(totgas, function() { tgas += parseFloat(this) || 0; });
                    $.each(itemsgamounts, function() { tgas += parseFloat(this) || 0; });
                    document.getElementById("Totalg").value = tgas.toFixed(2);
                    //FIN CALCULO TOTAL gas
                    //calculo total gral
                    calculogral();
                    //fin calculo total gral
                    $removeg.click(function(e) {
                        toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Gasto:");
                        e.preventDefault();
                        orderItemsg.splice(i, 1);
                        totgas.splice(i, 1);
                        gasto();
                        //CALCULO TOTAL gas
                        tgas = 0;
                        $.each(totgas, function() { tgas += parseFloat(this) || 0; });
                        $.each(itemsgamounts, function() { tgas += parseFloat(this) || 0; });
                        document.getElementById("Totalg").value = tgas.toFixed(2);
                        //FIN CALCULO TOTAL gas
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                    });
                    $rowg.append($('<td style="width: 2%"></td>').append($removeg));
                    $('#gastotabla > tbody:last').append($rowg);
                });
            } else {
                $('#orderItemsg').html('');
            }
        }

        function otro() {

            $('.elimo').remove();
            if (orderItemso.length > 0) {
                $('#orderItemso').html('<span class="text-danger"></span>');
                $.each(orderItemso, function(i, val) {
                    var $rowo = $('<tr class="elimo"  style="background-color: white"></tr>');
                    $rowo.append($('<td style="width: 40%"></td>').html(val.SheetDescription));
                    $rowo.append($('<td style="width: 40%"></td>').html(val.Comments));
                    $rowo.append($('<td></td>').html(val.Amount));
                    var $removeo = $('<a style="color:red" href="#">X</a>');
                    //CALCULO TOTAL otr
                    totr = 0;
                    $.each(tototr, function() { totr += parseFloat(this) || 0; });
                    $.each(itemsoamounts, function() { totr += parseFloat(this) || 0; });
                    document.getElementById("Totalo").value = totr.toFixed(2);
                    //FIN CALCULO TOTAL otr
                    //calculo total gral
                    calculogral();
                    //fin calculo total gral

                    $removeo.click(function(e) {
                        toastr.warning("-" + val.SheetDescription + "-<br/>Eliminado.", "Otro ingreso:");
                        e.preventDefault();
                        orderItemso.splice(i, 1);
                        tototr.splice(i, 1);
                        otro();
                        //CALCULO TOTAL otr
                        totr = 0;
                        $.each(tototr, function() { totr += parseFloat(this) || 0; });
                        $.each(itemsoamounts, function() { totr += parseFloat(this) || 0; });
                        document.getElementById("Totalo").value = totr.toFixed(2);
                        //FIN CALCULO TOTAL otr
                        //calculo total gral
                        calculogral();
                        //fin calculo total gral
                    });
                    $rowo.append($('<td style="width: 2%"></td>').append($removeo));
                    $('#otrotabla > tbody:last').append($rowo);

                });
            } else {
                $('#orderItemso').html('');
            }
        }

        //////fin funciones agregar ing cos gas otr///////
        //////////////////////////

        ////spaniteming_SheetDescription

        $('#guardar').click(function() {

            var required = false;

            $("input[name='ing_SheetDescription']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spaniteming_SheetDescription' + b).html('Requerido');
                    required = true;
                } else {
                    $('#spaniteming_SheetDescription' + b).html('');
                }

            });

            $("input[name='cos_SheetDescription']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemcos_SheetDescription' + b).html('Requerido');
                    required = true;
                } else {
                    $('#spanitemcos_SheetDescription' + b).html('');
                }

            });

            $("input[name='gas_SheetDescription']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemgas_SheetDescription' + b).html('Requerido');
                    required = true;
                } else {
                    $('#spanitemgas_SheetDescription' + b).html('');
                }

            });

            $("input[name='otr_SheetDescription']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemotr_SheetDescription' + b).html('Requerido');
                    required = true;
                } else {
                    $('#spanitemotr_SheetDescription' + b).html('');
                }

            });
            $("input[name='ing_Amount']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spaniteming_Amount' + b).html('Requerido');
                    required = true;
                } else {
                    if (this.value.trim() == 0) {
                        $('#spaniteming_Amount' + b).html('Debe ser mayor a 0');
                        required = true;
                    } else {
                        $('#spaniteming_Amount' + b).html('');
                    }
                }
            });
            $("input[name='cos_Amount']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemcos_Amount' + b).html('Requerido');
                    required = true;
                } else {
                    if (this.value.trim() == 0) {
                        $('#spanitemcos_Amount' + b).html('Debe ser mayor a 0');
                        required = true;
                    } else {
                        $('#spanitemcos_Amount' + b).html('');
                    }
                }
            });
            $("input[name='gas_Amount']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemgas_Amount' + b).html('Requerido');
                    required = true;
                } else {
                    if (this.value.trim() == 0) {
                        $('#spanitemgas_Amount' + b).html('Debe ser mayor a 0');
                        required = true;
                    } else {
                        $('#spanitemgas_Amount' + b).html('');
                    }
                }
            });
            $("input[name='otr_Amount']").map(function() {
                var a = this.id;

                var b = a.replace(/\D/g, '');
                if (this.value.trim() == "" || this.value == null) {
                    $('#spanitemotr_Amount' + b).html('Requerido');
                    required = true;
                } else {
                    if (this.value.trim() == 0) {
                        $('#spanitemotr_Amount' + b).html('Debe ser mayor a 0');
                        required = true;
                    } else {
                        $('#spanitemotr_Amount' + b).html('');
                    }
                }
            });

            if ($('#Date').val().trim() == '') {
                $('#wdate').html('Requerido');
                required = true;
            } else {
                $('#wdate').html('');
            }

            if (required) {

                bootbox.alert({
                    title: "Aviso",
                    message: "Por favor complete todos los campos requeridos. ",
                    backdrop: true
                });
            } else {


                bootbox.confirm("** Está por confirmar la edición, ¿Desea continuar?", function(result1) {

                    if (result1) {

                        arraysedit();


                        orderItems = $.merge(itemsi, orderItemsi);
                        orderItems = $.merge(orderItems, itemsc);
                        orderItems = $.merge(orderItems, orderItemsc);
                        orderItems = $.merge(orderItems, itemsg);
                        orderItems = $.merge(orderItems, orderItemsg);
                        orderItems = $.merge(orderItems, itemso);
                        orderItems = $.merge(orderItems, orderItemso);


                        var data = {
                            IdWorkSheet: @Model.IdWorksheet,
                            Date: $('#Date').val().trim(),
                            Comments: $('#Comments').val().trim(),
                            Sheets: orderItems,
                            Totali: $('#Totali').val().trim(),
                            Totalc: $('#Totalc').val().trim(),
                            Totalg: $('#Totalg').val().trim(),
                            Totalo: $('#Totalo').val().trim(),
                            TotalAmount: $('#TotalAmount').val().trim()
                        }
                        $.ajax({
                            url: '@Url.Action("EditW", "Worksheets")',
                            type: "POST",
                            data: JSON.stringify(data),
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function(d) {
                                //check is successfully save to database
                                if (d.status == true) {

                                    var url = '@Url.Action("Details", "Worksheets", new {id = Model.IdWorksheet})';
                                    window.location.href = url;
                                } else {
                                    alert('Failed');
                                }
                                $('#submit').val('Save');
                            },
                            error: function() {
                                alert('Error. Please try again.');
                                $('#submit').val('Save');
                            }
                        });
                    }


                });
            }


        });


    </script>




}