
@{
    Layout = null;
}

<h4 class="text-center">Bienvenido a la sección de Ayuda, aquí le mostraremos como gestionar su Lista de Planillas</h4>

<h4 class="text-center">En esta pantalla usted podrá visualizar todas sus Planillas ordenadas por período mensual.</h4>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Para crear una Planilla, haga click sobre "Nueva Planilla" ubicada en la parte superior izquierda de la pantalla.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 15px">
        <img src="@Url.Content("~/Content/Images/NuevaPlanilla.jpg")"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Usted puede elegir la cantidad de Planillas mostradas en una misma pantalla.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 10px">
        <img src="@Url.Content("~/Content/Images/MostrarRegistros.jpg")"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>En la parte superior derecha de la pantalla encontrará una herramienta de búsqueda y filtrado de Planillas. Ésta mostrará en la lista todas las Planillas que contengan en alguna columna la palabra o número que usted haya escrito. Utilícela para poder visualizar todas las Planillas de un período, año o monto determinado.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 40px">
        <img src="@Url.Content("~/Content/Images/BuscarRegistro.jpg")"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>En la columna derecha de la lista encontrará las opciones de Planilla.</h5>
        <h5>1. Detalles de Planilla: Haga click para ver toda la información referente a la Planilla.</h5>
        <h5>2. Editar Planilla: Haga click para realizar todos los ajustes que necesite sobre la Planilla.</h5>
        <h5>3. Eliminar Planilla: Haga click para eliminar la Planilla de la lista.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 40px">
        <img src="@Url.Content("~/Content/Images/BotonesIndex.jpg")"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>En la parte inferior izquierda de la pantalla se le indicará las Planillas mostradas en ese momento.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 15px">
        <img src="@Url.Content("~/Content/Images/RegistrosMostrados.jpg")"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <h5>Finalmente, en la parte inferior derecha de la pantalla encontrará el paginador. Utilícelo para moverse entre páginas de la lista haciendo click en "Anterior", "Siguiente" o bien sobre una página específica.</h5>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4" style="margin-top: 20px">
        <img src="@Url.Content("~/Content/Images/Paginación.jpg")"/>
    </div>
</div>
<br/>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>
