
@{
    Layout = null;
}

<h4 class="text-center">Bienvenido a la sección de Ayuda, aquí le mostraremos como generar su Planilla de manera sencilla y rápida</h4>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Descripción un título que lo ayude a identificar la transacción realizada.</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/Descripción.jpg")" style="width:130%"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Observación alguna aclaración que usted necesite recordarla (Opcional).</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/Observación.jpg")" style="width:130%"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Monto la cantidad de dinero (en pesos) que implicó la transacción.</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/Monto.jpg")" style="width:50%"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Seleccione en el campo Tipo la clase de transacción que desee registrar y ésta se ubicará en la lista correspondiente. Luego, haga click sobre el "+" de la derecha para añadir la transacción a la lista.</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/Tipo.jpg")" style="width:90%"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Para eliminar de la lista cualquier transacción que desee, solo haga click sobre la "x" que se encuentra a la derecha de dicha transacción.</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/x.jpg")" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Ingrese en el campo Observaciones de la seccion Resumen aclaraciones necesarias sobre la Planilla en general (Opcional)</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/ObservacionesGrales.jpg")" style="width:130%"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        <h5>Finalmente para guardar su Planilla haga click sobre "Guardar" en la parte inferior de la página.</h5>
    </div>
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-3">
        <img src="@Url.Content("~/Content/Images/Guardar.jpg")" style="width:40%"/>
    </div>
</div>
<br/>
<div class="text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>




