@model IEnumerable<SistemaRentabilidad.ViewModels.WsVM>

@{
    ViewBag.Title = "Listado";
}
<head>
    <style>
    .mes {
    text-transform:capitalize;
    background: none;
    border: none;
    width:110px;
    }
   </style>
</head>
@*<div class="text-right" style="margin-top: 8px">
    <a href="@Url.Action("HelpIndex", "Worksheets")" class="dialog-window btn btn-info btn-xs">Ayuda&nbsp;<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
</div>*@
<h2 class="text-center">Lista de Planillas</h2>
<hr style="margin-top:-7px;"/>
<div style="margin-top:-17px;">
    <a href="@Url.Action("CreateWorksheet","Worksheets")" class="btn-sm btn-success hvr-glow">Nueva Planilla</a>
    <br /><br />
    <table class="table  table-bordered" id="tabla">
        <thead>
            <tr style="background-color: #2c3e50;">
                <th class="text-center" style="color:white">
                    Período
                </th>

                <th class="text-center" style="color:white">
                    Monto Total
                </th>

                <th style="color:white; width:120px" class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center formatList">

                        <span style="display: none">@item.Date.ToString("yyyy/MM/dd") + @System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(item.Date.Month);</span>
                        @{
                            var month = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(item.Date.Month) + " " + item.Date.Year;
                            @Html.EditorFor(model => month, new { htmlAttributes = new { @class = "mes", @readonly = "readonly" } })
                        }

                    </td>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Details","Worksheets", new { id = item.IdWorksheet })" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                        <a href="@Url.Action("EditW", "Worksheets", new {id = item.IdWorksheet})" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="@Url.Action("Delete", "Worksheets", new {id = item.IdWorksheet, details = false})" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>
<div id="GSCCModal" class="modal fade" id="myModal" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 180%; left: -40%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Ayuda</h4>
            </div>
            <div class="modal-body">
                @Html.Action("HelpIndex","Worksheets")
            </div>

        </div>

    </div>

</div>

@if (TempData["mimsg"] != null)
{
    {
        <input id="msg" style="display: none" value="@TempData["mimsg"]" />

    }

}

@section scripts
{
    <script>
        





        $(document).ready(function () {            
              
            ////Grilla automatica//
            $("#tabla").DataTable({
                order: [[0, "desc"]], "lengthMenu": [[12, 24, 36, -1], [12, 24, 36, "Todas"]],
                 
                "language": {
                    "url": '@Url.Content("~/Scripts/DataTables/spanish.json")'
                }
            });

            if ($('#msg').val() == 1) {
                toastr.success("Planilla eliminada exitosamente.");
            }
        })
    </script>
}
