@model IEnumerable<SistemaRentabilidad.ViewModels.WsVM>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Lista de Planillas</h2>

<a href="@Url.Action("Create","Worksheets")" class="btn btn-success">Nueva Planilla</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorksheetDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>

        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorksheetDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdWorksheet }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdWorksheet }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdWorksheet })
            </td>
        </tr>
    }

</table>
