@model IEnumerable<SistemaRentabilidad.Models.SheetLine>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LineDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SheetType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LineDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SheetType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSheetLine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSheetLine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSheetLine })
        </td>
    </tr>
}

</table>
