@model SistemaRentabilidad.Models.SheetLine

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SheetLine</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.LineDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LineDescription, new { htmlAttributes = new { @class = "form-control", @onchange = "esug()" } })
                @Html.ValidationMessageFor(model => model.LineDescription, "", new { @class = "text-danger" })
                <span class="text-danger" id="spansug" style="display: block"></span>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SheetType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.SheetType, htmlAttributes: new { @class = "form-control", @onchange = "esug()" })
                @Html.ValidationMessageFor(model => model.SheetType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{

    <script>


        function esug() {
            s = [];
            s.push({
                SheetType: $("#SheetType").val()
            });

            var options3 = {};
            options3.url = '@Url.Action("ExisteSug", "SheetLines")';
            options3.type = "GET";
            options3.data = {"sd": $("#LineDescription").val(), "st": s },
            options3.dataType = "json";
            options3.success = function (data) {
                if (data) {
                    $('#spansug').html('Sugerencia existente.');
                    vals = 1;
                } else {
                    $('#spansug').html('');
                    vals = 0;
                };

            };
            $.ajax(options3);
        }


    </script>


}