@using SistemaRentabilidad.Models
@model IEnumerable<SistemaRentabilidad.Models.Worksheet>

@{
    Layout = null;
}

<div id="ajaxBeginFormResult">

    <head>

        <link rel="stylesheet" type="text/css" href="~/Scripts/jqPlot/jquery.jqplot.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css"/>

        <style>
            .jqplot-table-legend {
                font-size: large;
            }
        </style>

        @*<link rel="stylesheet" type="text/css" ref="@(Url.Content("/Scripts/jqPlot/jquery.jqplot.css"))" />
            <link rel="stylesheet" type="text/css" ref="@(Url.Content("/Content/themes/base/jquery-ui.css"))" />*@
    </head>

        <div id="seleccion">

            <div class="text-center">

                @*<h4>Desde: @ViewBag.initDate&nbsp;-&nbsp;Hasta: @ViewBag.endDate&nbsp;&nbsp;&nbsp;<button id="ocultargrafico" class="hidden-print btn btn-default btn-sm">Ocultar</button></h4>*@

                <div id="grafico2" style="width: 850px; height: 400px; display: inline-block">
                </div>
            </div>





            <div class="hidden-print text-center">
                <a class="btn btn-sm btn-warning hidden-print" onclick="window.print('#seleccion');">
                    Imprimir
                </a>
            </div>
        </div>


            <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/jquery.js")'></script>
            <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/jquery.jqplot.js")'></script>
            <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/jquery.jqplot.min.js")'></script>
            <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.barRenderer.js")'></script>
        <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.pieRenderer.js")'></script>
        <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.js")'></script>
        <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/jqPlot/plugins/jqplot.pointLabels.js")'></script>



            <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/datatables/jquery.datatables.js")'></script>
        <script language="javascript" type="text/javascript" src='@Url.Content("~/Scripts/datatables/datatables.bootstrap.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")'></script>

       


            <script>

                $(document).ready(function() {

                    $("body").on("click", "a.dialog-window4", null, function(e) {
                        e.preventDefault();
                        jQuery.noConflict();
                        var $link = $(this); // Reference to <a/> link
                        var title = $link.text(); //this is title to fetch in htnl
                        $('#myModal4 .modal-title').html(title);

                        var url = $(this).attr('href');
                        if (url.indexOf('#') == 0) {
                            $('#myModal4').modal('show');
                        } else {
                            $.get(url, function(data) {
                                $('#myModal4 .te').html(data);
                                $('#myModal4').modal();
                            }).success(function() { $('input:text:visible:first').focus(); });
                        }
                    });


                    $('#mitabla_length').addClass('hidden-print');
                    $('#mitabla_filter').addClass('hidden-print');
                    $('#mitabla_info').addClass('hidden-print');
                    $('#mitabla_paginate').addClass('hidden-print');
                    $('#mitabla1_length').addClass('hidden-print');
                    $('#mitabla1_filter').addClass('hidden-print');
                    $('#mitabla1_info').addClass('hidden-print');
                    $('#mitabla1_paginate').addClass('hidden-print');
                    var year1=@ViewBag.initDate;
                    var year2=@ViewBag.endDate;
                    var final = [];
                    var incomes = @Html.Raw(ViewBag.incomes);
                    var labels = [];
                    for (var i = 0; i <=@ViewBag.ys; i++) {
                        labels.push((year1 + i).toString());
                    }


                    $.each(incomes, function(index, value) {
                        if(value==0){incomes[index]=null}
                    });

                    var count = 1;
                    var item = [];
                    

                    $.each(incomes, function(index, value) {
                        if (count <= 12) {
                            item.push(value);
                        } else {
                            final.push(item);
                            item = [];
                            count = 1;
                            item.push(value);

                        }
                        count++;
                    });
                    final.push(item);
                   

                   


                    var ticks = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];


                    plot2 = $.jqplot('grafico2', final, {
                        title:"Años: "+ year1.toString()+"---"+year2.toString(),
                        seriesDefaults: {

                            pointLabels: { show: true,hideZeros: true},
                            breakOnNull:true
                        }, legend: {
                            show: true,
                            placement: 'outsideGrid',
                            labels: labels,
                            location: 'ne'
                        },

                        axes: {
                            xaxis: {
                                renderer: $.jqplot.CategoryAxisRenderer,
                                ticks: ticks
                            }, yaxis: {tickOptions: {
                                formatString: "$%'d"
                            },
                                min:0

                            }
                        }
                    });


                });

                $("#mitabla").DataTable({
                    "language": {
                        "url": '@Url.Content("~/Scripts/DataTables/spanish.json")'
                    }
                });
                $("#mitabla1").DataTable({
                    "language": {
                        "url": '@Url.Content("~/Scripts/DataTables/spanish.json")'
                    }
                });

                function printData() {
                    var divToPrint = document.getElementById("seleccion");
                    newWin = window.open("");
                    newWin.document.write(divToPrint.outerHTML);
                    newWin.print();
                    newWin.close();
                }

                $("#ocultargrafico").click(function() {
                    $(this).text(function(i, text) {
                        return text === "Ocultar" ? "Mostrar" : "Ocultar";
                    });

                    $("#grafico2").toggle("slow");
                });
            </script>
            }


        </div>

 

